body{
	font-family: sans-serif;
	background: rgb(19, 235, 55);
}
h1{
	text-align: center;
	font-weight: 400;
}
.tulisan_login{
	text-align: center;

}
.box_login{
    width:400px;
    background: rgb(239, 243, 238);
    margin: 80px auto;
	padding: 30px 20px;
    border-radius: 5px;
}

label{
	font-size: 11pt;
}
 
.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.tombol_login{
	background: #2bf02b;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}





    